<div class="card p-3">
    <h5 class="mb-3">Add Account</h5>

    <form [formGroup]="form" (ngSubmit)="submit()" class="row g-3">

        <div class="col-md-6">
            <label class="form-label">Name</label>
            <input pInputText class="w-100" formControlName="name" />
        </div>

        <div class="col-md-6">
            <label class="form-label">Account Type</label>
            <select class="form-select" formControlName="accountType">
                <option value="" disabled selected>Select type</option>
                <option *ngFor="let t of accountTypes" [value]="t.value">
                    {{ t.label }}
                </option>
            </select>
        </div>

        <div class="col-md-6">
            <label class="form-label">Opening Balance</label>
            <input pInputText type="number" class="w-100" formControlName="openingBalance" />
        </div>

        <div class="col-12 d-flex gap-2 mt-3">
            <button pButton type="submit" label="Save" [disabled]="form.invalid || submitting">
            </button>

            <a routerLink="../" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
</div>